html {
  width: 100%;
}
#header {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  width: 100%;
  min-height: 25px;
}
#header-img {
  width: 350px;
  height: 50px;
}
a {
  margin: 25px;
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.content {
  margin-top: 80px;
  text-align: center;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  margin-block: 10px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}
#submit {
  border: none;
  width: 170px;
  height: 40px;
  background-color: rgb(143, 143, 0);
  text-transform: uppercase;
  color: white;
}
i {
  color: orange;
  font-size: 70px;
}

#features {
  display: flex;
  flex-direction: column;
}
.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
.feature-text {
  text-align: start;
  margin-inline-start: 40px;
}

#video {
  margin-block: 40px;
}

#pricing {
  display: flex;
  flex-direction: row;
  margin: 25px;
  justify-content: center;
}
.price-tag {
  border: 1px solid black;
  padding: 5px;
  margin: 25px;
}

@media only screen and (max-width: 600px) {
  #pricing {
    flex-direction: column;
  }
  a {
    font-size: 14px;
    margin: 5px;
  }
  iframe {
    width: 400px;
    height: 350px;
  }
  #header-img {
    width: 200px;
    height: auto;
  }
}
